body, html {
    height: 100%;
    margin: 0;
}

.bgimg {
    background-image: url(https://wallpapertag.com/wallpaper/full/5/c/3/228711-dark-anime-background-scenery-1920x1080-for-samsung-galaxy.jpg);
    height: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    color: white;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
}

.topleft {
    position: absolute;
    top: 0;
    left: 16px;
}

.bottomleft {
    position: absolute;
    bottom: 0;
    left: 16px;
}

.middle {
    position: absolute;
    top: 50%;
    left: 50%;
    color: #141615;
    transform: translate(-50%, -50%);
    text-align: center;
}

hr {
    margin: auto;
    width: 40%;
}