html {
    scroll-behavior: smooth;
    width: 100%;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    color: white;
    background-color: #141615;
}

section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100px;
    padding: 50px 10vw;
}

h1,
h2 {
    font-size: xx-large;
}

h1 {
    color: #00DBFF;
}

.wave1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.wave1 svg {
    position: relative;
    display: block;
    width: calc(121% + 1.3px);
    height: 124px;
}

.wave1 .shape-fill {
    fill: #141615;
}

.mintgreen {
    background-color: #00c1df;
    z-index: 1;
}


.wave2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.wave2 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 135px;
    transform: rotateY(180deg);
}

.wave2 .shape-fill {
    fill: #00c1df;
}

a.link:link,
a.link:visited {
    background-color: #141615;
    color: white;
    border: 2px solid #141615;
    padding: 20px 20px;
    min-width: 10%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a.link:hover,
a.link:active {
    background-color: #141615;
    color: white;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
}

img {
    max-width: 100%;
}

.image {
    flex-basis: 40%;
}

.text {
    font-size: 20px;
    max-width: 60%;
}

.rbox {
    border-radius: 25px;
    background: #141615;
    padding: 20px;
    margin: 10px;
    width: 30%;
    height: auto;
    text-align: center;
}

.bbox {
    border-radius: 25px;
    background: #00DBFF;
    padding: 20px;
    margin: 10px;
    width: auto;
    height: auto;
    text-align: center;
    font-size: x-large;
    color: #141615;
}

.mbox {
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: #00DBFF;
    padding: 10px;
    margin: 10px;
    width: auto;
    height: auto;
    text-align: center;
    font-size: large;
    color: white;
}

.mbox:hover {
    background-color: #00DBFF;
}

.lbox {
    border-radius: 5px;
    background: #3a3a3a;
    padding: 5px;
    margin: 5px;
    height: auto;
    width: 350px;
    text-align: left;
    font-size: x-large;
    color: white;
    font-size: 20px;
}

pl {
    color: #00DBFF;
    text-decoration: none;
    font-weight: 100;
    padding-left: 15%;
}

a,
a:active,
a:hover,
a:visited,
a:link {
    text-decoration: none;
    color: white;
}

@media screen and (min-width: 481px) {
    .omitx {
        display: none;
    }
    .panel {
        padding: 0px 18px;
        background-color: #1c1c1e;
        max-height: 0;
        width: 96.5%;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
    }
}

@media screen and (max-width: 480px) {
    html {
        text-align: center;
    }
    .omit,
    .container.omit,
    .rbox.omit {
        display: none;
    }
    .container {
        display: block;
        align-items: center;
        text-align: center;
        padding: auto;
    }
    .text {
        max-width: 100%;
    }
    section {
        padding: 0px 8vw
    }
    img {
        max-width: 75%;
    }
    a {
        font-size: 20px;
    }
    .rbox {
        border-radius: 25px;
        background: #141615;
        padding: 20px;
        margin: 0px;
        width: auto;
        height: auto;
        text-align: center;
    }
    .wave1 {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
    }
    .wave1 svg {
        position: relative;
        display: block;
        width: calc(121% + 1.3px);
        height: 80px;
    }
    .wave1 .shape-fill {
        fill: #141615;
    }
    .wave2 {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
    }
    .wave2 svg {
        position: relative;
        display: block;
        width: calc(100% + 1.3px);
        height: 80px;
        transform: rotateY(180deg);
    }
    .wave2 .shape-fill {
        fill: #00DBFF;
    }
    .panel {
        padding: 0px 18px;
        background-color: #1c1c1e;
        max-height: 0;
        width: 88.8%;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
    }
    .lbox {
        background: transparent;
        padding: 1px;
        border-radius: 0px;
        height: auto;
        margin: 1px;
        text-align: left;
        font-size: x-large;
        color: white;
        font-size: 20px;
        width: auto;
    }
    a.linkmobile:link,
    a.linkmobile:visited {
        background-color: #141615;
        color: white;
        border: 2px solid #141615;
        padding: 10px 10px;
        min-width: 10%;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: small;
    }
    a.linkmobile:hover,
    a.linkmobile:active {
        background-color: #141615;
        color: white;
    }
    .containermobile {
        padding: 0;
    }
    pl {
        color: #00DBFF;
        text-decoration: none;
        font-weight: 100;
        padding-left: 0%;
    }
}

.dropdown {
    background-color: #1c1c1e;
    color: white;
    padding: 18px;
    min-width: 100%;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    font-family: 'Montserrat', sans-serif;
    border-top-color: #00DBFF;
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
}

.dropdowntop {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-top-color: transparent;
}

.dropdownbottom {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.dropdown:hover {
    background-color: #1c1c1e;
}

.active {
    background-color: #1c1c1e;
    border-radius: 0px;
}

.panelbottom {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}